<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Herramienta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Herramienta.Properties.Settings>
            <setting name="ResumenSemanal" serializeAs="String">
                <value>/diary/resumenSemanal</value>
            </setting>
            <setting name="UrlApi" serializeAs="String">
                <value>http://192.168.0.2/apiMovStock/phptrading/public/</value>
            </setting>
            <setting name="ReseumenAnual" serializeAs="String">
                <value>/diary/resumenAnual</value>
            </setting>
            <setting name="TradeGanador" serializeAs="String">
                <value>/diary/TradeGanador</value>
            </setting>
            <setting name="TradePerdedor" serializeAs="String">
                <value>/diary/TradePerdedor</value>
            </setting>
            <setting name="TradesAgrupados" serializeAs="String">
                <value>/diary/TradesAgrupados</value>
            </setting>
            <setting name="RazonExito" serializeAs="String">
                <value>/diary/RazonExito</value>
            </setting>
            <setting name="RazonFracaso" serializeAs="String">
                <value>/diary/RazonFracaso</value>
            </setting>
            <setting name="Guardar" serializeAs="String">
                <value>/diary/Guardar</value>
            </setting>
            <setting name="Insertar" serializeAs="String">
                <value>/diary/Insertar</value>
            </setting>
            <setting name="Actualizar" serializeAs="String">
                <value>/diary/Actualizar</value>
            </setting>
        </Herramienta.Properties.Settings>
    </applicationSettings>
</configuration>